body {
  margin: 0;
  padding: 0;
}

header {
  background: #03a9fa;
  text-align: center;
}

.logo {
  color: #fff;
  font-size: 40px;
  font-family: 'Anton';
  text-align: center;
}

header input {
  font-size: 20px;
  margin: 20px 0px;
}

.NewsItem {
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
